.gifs-apps{
    font-size: 30px;
    color: white;
    margin-bottom: 20px;
    margin-top: 10px;
    margin-left: 10px;
}

.serie1{
    width: 90%;
    height: 5vh;
    display: flex; 
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    margin-left: 10px;
}



  /* MEDIA QUERYS */

  @media (max-width: 600px){
    .gifs-apps{
        font-size: 20px;
    }

    .serie1{
        width: 80%;
        font-size: 15px;
    }
  }